<%= @quarts.each do |quart| %>
    <img style="margin:0 auto;display:block;width:300px;height:200px" src="<%=quart.image_url %>">
    <p style="text-align:center">Name: <%= quart.name %></p>
    <p style="text-align:center">Size: <%=quart.size %></p>
    <p style="text-align:center">Country of Origin: <%=quart.location_of_import %></p>
  <% end %>
